
.header {
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    padding: 0 10%;
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
  }
  .heads{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .header ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .logo{
    justify-self: start;
  }
  .cart{
    margin-top: 1rem;
    position: relative;
  }
  .badge{
    background-color: red;
    position: relative;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    color: white;
   left: -10px;
   top: 1rem;
   justify-content: center;
   align-items: center;
  }
.carticon{
  display: flex;
  flex-direction: row;
}

.dept{
  color: green;
  width: 280px;
  font-size: 16px;
}
.CartHeader{
  width: 80rem;
  height: 5rem;
  padding: 0 10%;
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-left: -9rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.coat{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.bsperson{
 margin-top: 1.3rem;
}
.bondoffer{
  width: 90px;
}
