
.formbg{
    background-image: url('../assets/image\ 2.png'), url('../assets/image\ 1.png');
    background-repeat: no-repeat;
    background-position: right top, left;
   
}
.signup{
    width: 27.5rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 36%;
}

label{
    text-align: justify;
    font-size: 14px;
    font-weight: 100;
    
}

 input{
    width: 27.5rem;
    height: 3rem;
    text-align: start;
    border: 1px solid black;
    margin-bottom: 1rem;
 }
 .check{
    width: 3rem;
    height: 2.5rem;
    background-color: green;
    border: 1px solid green;
 }
 .terms{
    text-decoration: underline;
    color: green;
 }
 .box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 30rem;
 }
 .signupBtn{
    width: 27.5rem;
    height: 3rem;
    background-color: black;
    color: white;
    margin-top: 1rem;
 }
 .mark{
    color: white;
    font-size: 30px;
 }